/* Estilização básica */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Azul Claro */
}

header {
    background-color: #005f99; /* Azul */
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s; /* Transição suave */
}

nav ul li a:hover {
    color: #ff6600; /* Laranja */
    background-color: #004080; /* Azul escuro */
    padding: 5px;
    border-radius: 4px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #005f99; /* Azul */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilização das seções */
.intro, .education, .portfolio, .contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Diminuído para 600px */
}

/* Estilização do conteúdo da seção "Sobre mim" */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Alinha os itens em coluna */
}

.profile-image-container {
    margin-bottom: 1rem; /* Espaço abaixo da imagem */
    border: 2px solid #333; /* Adiciona uma borda */
    padding: 5px; /* Espaço entre a imagem e a borda */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
    width: 150px; /* Largura ajustada para o contêiner */
    height: 200px; /* Altura ajustada para o contêiner */
}

.profile-image {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Ajusta a imagem para caber no contêiner */
}

.about-text {
    text-align: left; /* Alinha o texto à esquerda */
    max-width: 600px; /* Largura máxima para o texto */
}

/* Estilização do formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o botão à esquerda */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%; /* Garante que os campos ocupem toda a largura */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%; /* Ajusta a largura dos campos */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Garante que os elementos ocupem toda a largura */
}

.submit-button {
    background-color: #005f99; /* Azul */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #004080; /* Azul escuro */
}

.linkedin-icon {
    width: 24px;
    height: 24px;
    margin-top: -10px; /* Subir um pouco o ícone */
}

/* Estilização da lista de portfólio */
.portfolio-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.portfolio-list li {
    margin-bottom: 10px;
}

.portfolio-list li a {
    color: #005f99; /* Azul */
    text-decoration: none;
    font-weight: bold;
}

.portfolio-list li a:hover {
    color: #ff6600; /* Laranja */
}

/* Estilização dos ícones sociais */
.social-icons {
    margin-top: 10px;
    text-align: left; /* Alinha os ícones à esquerda */
}

/* Estilização da seção de educação */
.education {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajuste para distribuir espaço entre os itens */
}

.education img {
    max-width: 40%; /* Ajuste a largura conforme necessário */
    height: auto;
    margin-left: 20px; /* Espaço entre a imagem e o texto */
}

.education-text {
    max-width: 55%; /* Ajuste a largura conforme necessário */
}








